<div>
  <div class="header">
    <h1>Leave Management</h1>
    <img src="../../assets/images/camp-image.svg" alt="camp">
  </div>
  <div class="top-nav">
      <ul>
          <li> <a href="" class="active">MY LEAVE</a></li>
          <li> <a href="">STAFF LEAVE</a></li>
          <li> <a href="">APPLY LEAVE</a> </li>
        </ul>
  </div>
  <div class="content">
    <app-leave-card-self class="leave-card"></app-leave-card-self>
    
    <app-leave-card-self class="leave-card"></app-leave-card-self>
    
    <app-leave-card-self class="leave-card"></app-leave-card-self>
  </div>
</div>