<div class="side-bar">
  <div>
    <img src="../../assets/images/avatar.jpeg" class="avatar" alt="avatar">
    <p id="name">Akshaya Kumar</p>
  </div>
  <div class="nav-link-section">
      <ul>
          <li><a href="#link"><i class="fab fa-leanpub fa-icon"></i><span>LEARN IMPORVE</span> </a></li>
          <li><a href="#link"  class="active"><i class="far fa-calendar-alt fa-icon fa-icon-active"></i><span>LEAVE MANAGEMENT</span> </a></li>
          <li><a href="#link"><i class="fas fa-trophy fa-icon"></i><span>PERFORMANCE REVIEW</span> </a></li>
        </ul>
  </div>
</div>
<div id="side-bar-icon">
  <span><i class="fas fa-bars"></i></span>
</div>
