<div  class="card">

  <div class="top-section">
    <div class="image-section">
        <img src="../../assets/images/small-avatar.jpg" alt="small-avatar" class="avatar">
    </div>
    <div class="info-section">
      <h2 class="name">Akshay kumar</h2>
      <p class="designation">ANALYST</p>
    </div>
    <div class="status-section">
      <p><i class="fas fa-info status"></i></p>
    </div>
  </div>

  <div class="date-section">
    <div class="date">
      <p class="month">AUGUST</p>
      <p class="number">12</p>
      <p class="year">2019</p>
    </div>
    <div class="arrow-section">
        <p class="arrow"><i class="fas fa-arrow-right"></i></p>
        <p>3 Annual Leave</p>
    </div>
    <div class="date">
        <p class="month">AUGUST</p>
        <p class="number">14</p>
        <p class="year">2019</p>
      </div>
  </div>

  <div class="description-section">
    <p>
        dable content of a page when looking at its layout. 
        The point of using Lorem Ipsum is that it has a more-or-less
         normal distribution of letters, as opposed to using 'Content here,
    </p>
  </div>

</div>